{% extends "vfun/base.html" %}

{% load leaflet_tags %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    {{ halls|json_script:"halls-data" }}
    <div class="jumbotron">
        <h1 class="display-4">Volleyball Sports Halls</h1>
        <hr class="my-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div id="map">{% leaflet_map "my_location" callback="map_init" %}</div>
                </div>
            </div>
        </div>
    </div>

    <style>
        #map {
            position: relative;
            height: 100%;
            width: 100%;
        }
    </style>

    <script>
        const halls = JSON.parse(document.getElementById("halls-data").textContent);

        function map_init(map, options) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(async function (position) {
                    let lat = position.coords.latitude;
                    let lon = position.coords.longitude;

                    map.setView([lat, lon], 13);

                    L.circle([lat, lon], {
                        stroke: false,
                        fillColor: 'red',
                        fillOpacity: 0.3,
                        radius: position.coords.accuracy * 20,
                    }).addTo(map);

                    L.circle([lat, lon], {
                        fillOpacity: 0.7,
                        radius: position.coords.accuracy,
                    }).addTo(map);

                    for (const [key, value] of Object.entries(halls.features)) {
                        let point = [value.geometry.coordinates[1], value.geometry.coordinates[0]]
                        L.marker(point).addTo(map);
                    };
                });
            }
        }
    </script>
{% endblock content %}